body {

background:#050505;
color:white;
font-family:Arial, sans-serif;
margin:0;

}


header {

text-align:center;
padding:80px 20px;
background:linear-gradient(180deg,#101810,#050505);

}


header h1 {

font-size:80px;
color:#39ff14;
margin:0;
text-shadow:0 0 20px #39ff14;

}


header p {

font-size:22px;
color:#ddd;

}


header a {

display:inline-block;
margin-top:25px;
padding:12px 30px;
background:#39ff14;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:30px;
box-shadow:0 0 15px #39ff14;

}


section {

max-width:900px;
margin:50px auto;
padding:20px;

}


h2 {

color:#39ff14;
font-size:32px;
text-shadow:0 0 10px #39ff14;

}


.card {

background:#111;
border:1px solid #222;
border-radius:15px;
padding:25px;
line-height:1.8;
box-shadow:0 0 15px rgba(57,255,20,0.15);

}


.card p {

color:#eee;

}


footer {

text-align:center;
padding:40px;
background:#111;
color:#aaa;

}
.button {

display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#39ff14;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:30px;
box-shadow:0 0 15px #39ff14;

}
.logo {
width:45px;
height:auto;
margin-bottom:10px;
filter: drop-shadow:(0 0 8px #39ff14);
}
.logo {
    width: 50px !important;
    height: auto !important;
    margin-bottom: 10px;
}

